@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&subset=cyrillic-ext");

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
  font-weight:400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Mosk Normal';
  src: url('../fonts/Mosk/Mosk Normal 400.ttf');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Mosk Extra-Bold';
  src: url('../fonts/Mosk/Mosk Extra-Bold 800.ttf');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Filson Soft';
  src: url('../fonts/filson/Filson Soft Black.eot');
  src: url('../fonts/filson/Filson Soft Black.eot?#iefix') format("embedded-opentype"), url('../fonts/filson/Filson Soft Black.woff2') format("woff2"), url('../fonts/filson/Filson Soft Black.woff') format("woff"), url('../fonts/filson/Filson Soft Black.svg#Filson Soft Black') format("svg");
  font-weight: 800
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/AvenirLTStd-Light.otf");
  src: url("../fonts/Avenir/AvenirLTStd-Light.otf?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Light.otf") format("otf");
  font-weight:300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF
}

@font-face {
  font-family: 'Avenir Medium';
  src: url("../fonts/Avenir/AvenirLTStd-Medium.otf");
  src: url("../fonts/Avenir/AvenirLTStd-Medium.otf?#iefix") format("embedded-opentype"), url("../fonts/Avenir/AvenirLTStd-Medium.otf") format("otf");
  font-weight:400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF
}
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button,
hr,
input {
  overflow: visible
}

audio,
canvas,
progress,
video {
  display: inline-block
}

progress,
sub,
sup {
  vertical-align: baseline
}

[type=checkbox],
[type=radio],
legend {
  padding: 0;
  box-sizing: border-box
}

*,
:after,
:before,
legend {
  box-sizing: border-box

}

body{
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}
$NunitoSans: "Nunito Sans",sans-serif;
$Lato: "Lato", sans-serif;
$Roboto: "Roboto", sans-serif;
$Mosk: "Mosk Extra-Bold", sans-serif;
$mainColor: #5e0e8b;

.steps-wrapper{
  position: relative;
    display: flex;
    // start second-step__header-checkout-body
    .second-step__header-checkout-body{
      position: absolute;
      width: 100%;
      height: 0;
      overflow-y: auto;
      bottom: 110px;
      right: 0;
      top: 84px;
      background-color: #FCF4F4;
      z-index: 2;
      transition: height .4s;
      .mCSB_inside > .mCSB_container{
        margin-right: 0;
      }
      .second-step__booking_title{
        width: 100%;
        padding: 23px 45px;
        color: #333333;
        font-family: $NunitoSans;
        font-size: 24px;
        letter-spacing: -0.18px;
        line-height: 32px;
        text-transform: uppercase;
      }
      .second-step__booking-datetime{
        width: 100%;
        .second-step__booking-datetime_wrap{
          display: flex;
          padding: 12px 45px;
        }
        .second-step__booking_day{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 60px;
          font-weight: 200;
          letter-spacing: -0.76px;
          line-height: 82px;
        }
        .second-step__booking_date{
          margin-top: 12px;
          margin-left: 30px;
          span{
            display: block;
            color: #333333;
            font-family: $NunitoSans;
            font-size: 20px;
            font-weight: 300;
            letter-spacing: -0.95px;
            line-height: 27px;
          }
        }

      }

      .second-step__booking-treatments{


        .second-step__booking-treatments_editable{
          // height: 380px;

        }
        .second-step__treatments-item-info{
          position: relative;
          padding: 40px 0 20px 45px;
          .second-step__treatments_name{
            color: #333333;
            font-family: $NunitoSans;
            font-size: 14px;
            line-height: 22px;
          }
          .second-step__treatments_price{
            color: rgba(38,38,38,0.5);
            font-family: $NunitoSans;
            font-size: 14px;
            font-weight: bold;
            line-height: 22px;
          }
          .second-step__treatments_duration{
            opacity: 0.5;
            color: #262626;
            font-family: $NunitoSans;
            font-size: 10px;
            margin-top: 19px;
            line-height: 14px;
          }
        }
        .second-step__treatments-item-control{
          opacity: 0.5;
          display: flex;
          background-color: #FFFFFF;
          .second-step__treatments_remove{
            color: #262626;
            font-family: $NunitoSans;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            width: 45%;
            padding: 16px 45px 10px;
            border-right: 1px solid #E4E7F0;
            cursor: pointer;
            transition: background-color .4s;
          }
          .second-step__treatments_remove:hover{
            background-color: darken(#fff,10%)
          }
          .second-step__treatments_counter{
            display: flex;
            width: 65%;
            padding: 13px 0;
            .counter__minus,
            .counter__plus{
              color: rgba(38,38,38,0.5);
              font-family: $NunitoSans;
              margin: 0 15px;
              font-size: 22px;
              line-height: 28px;
              text-align: center;
              border: 0;
              background-color: transparent;
              outline: none;
              cursor: pointer;
            }
            .second-step__count_input{
              border: 0;
              width: 50px;
              text-align: center;
              font-size: 22px;
              line-height: 28px;
              background-color: transparent;
            }
          }
        }

        .second-step__booking-treatments_ready{
          // height: 236px;
          .second-step__treatments-item{
            border-bottom: 1px solid #F5E5E5;
          }
          .second-step__treatments_item-count{
            position: absolute;
            top: 20px;
            right: 20px;
            height: 24px;
            width: 24px;
            padding: 2px 0;
            border-radius: 100px;
            background-color: $mainColor;
            box-shadow: 0 2px 7px 0 rgba(120,137,149,0.25);
            color: #FAFAFA;
            font-family: $NunitoSans;
            font-size: 14px;
            letter-spacing: -0.2px;
            line-height: 19px;
            text-align: center;
          }
          .second-step__treatments-item-info{
            padding-top: 20px;
          }
        }

      }

      .second-step__booking-summary{
        width: 100%;
        .second-step__booking-summary_wrap{
          padding: 20px 45px;
        }
        .second-step__discount-applied{
            color: #62A90F;
            font-family: $NunitoSans;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            margin-bottom: 24px;
        }
        .second-step__booking-price-row,
        .second-step__booking-duration-row{
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          .second-step__booking-price_title,
          .second-step__booking-price_count,
          .second-step__booking-duration_title,
          .second-step__booking-duration_count,
          .second-step__booking-total_title,
          .second-step__booking-total_count{
            color: #788995;
            font-family: $NunitoSans;
            font-size: 16px;
            line-height: 24px;
          }
        }
        .second-step__booking-total-row{
          display: flex;
          justify-content: space-between;
          padding-top: 10px;
          border-top: 2px solid #262626;
          .second-step__booking-total_title,
          .second-step__booking-total_count{
            color: #262626;
            font-family: $NunitoSans;
            font-size: 16px;
            line-height: 24px;
          }
          .second-step__booking-total_count{
            font-weight: bold;
          }
          .second-step__booking-total_count-price,
          .second-step__booking-total_count-old-price{
            display: inline-block;

          }
          .second-step__booking-total_count-old-price{
            opacity: 0.5;
            margin-right: 10px;
            text-decoration:line-through
          }
        }
      }

      .second-step__booking-subtitle{
        padding: 14px 45px;
        width: 100%;
        opacity: 0.5;
        background-color: #FFFFFF;
        color: #222328;
        font-family: $NunitoSans;
        font-size: 10px;
        font-weight: bold;
        line-height: 14px;
        text-transform: uppercase;
      }

    }
    // end second-step__header-checkout-body
}

.container{
  max-width: 1320px;
  margin: auto;
  position: relative;
  padding: 0 25px;
}

.hide{
  display: none !important;
}

@mixin placeholder {
&::-webkit-input-placeholder { @content; }
&:-moz-placeholder           { @content; }
&::-moz-placeholder          { @content; }
&:-ms-input-placeholder      { @content; }
}


.notification{
  position: relative;
  text-align: center;
  background-color: $mainColor;
  color: #fff;
  padding: 25px 0;
  .container{
    display: flex;
    justify-content: space-around;
  }
  .notification__text{
    text-transform: uppercase;
    font-family: $NunitoSans;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 0 25px;
  }
  .notification__close-btn{
    position: absolute;
    right: 25px;
    top: -4px;
    opacity: .8;
    transition: opacity .4s;
    cursor: pointer;
  }
  .notification__close-btn:hover{
    opacity: 1;
  }
}

.first-step{
  width: 100%;
  // height: 100vh;
  .first-step__header{
    background-image: url('/static/images/checkout/echic-beauticians-2.jpg');
    background-size: cover;
    background-position: left 35%;
    background-repeat: no-repeat;
    min-height: 704px;
    height: calc(100% - 110px);
    .container{
      padding: 25px;
    }
    .first-step__header-wrap{
      display: flex;
      justify-content: space-between;
    }
    .first-step__join_button{
      border: none;
      padding: 11px 35px;
      -webkit-appearance: none;
      margin: 0 10px;
      border: 1px solid #262626;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      color: #fff;
      outline: 0;
      background-color: $mainColor;
      font-family: "Nunito Sans";
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -.2px;
      cursor: pointer;
      -webkit-transition: background-color .4s,color .4s;
      -o-transition: background-color .4s,color .4s;
      transition: background-color .4s,color .4s;
    }
    .first-step__join_button:hover{
      background-color: lighten($mainColor, 10%);
    }
    .first-step__content-wrapper{
      width: 600px;
      padding-top: 100px;
    }
    .first-step__title{
      font-family: $NunitoSans;
      color: #333333;
      font-size: 46px;
      font-weight: bold;
      letter-spacing: -0.5px;
      line-height: 55px;
    }
    .first-step__subtitle{
      font-family: $NunitoSans;
      color: #333333;
      font-size: 38px;
      font-weight: 300;
      letter-spacing: -0.5px;
    }

    .first-step__form{
      display: flex;
      justify-content: space-between;

      .first-step__input-wrap{
        display: inline-block;
        width: 100%;
        width: -webkit-calc(100% - 250px);
        width: calc(100% - 250px);
      }
      .first-step__form_input-text{
        display: block;
        width: 100%;
        padding: 20px 17px 20px 50px;
        height: 64px;
        font-family: $NunitoSans;
        border: 1px solid #e3e3e3;
        border-radius: 8px;
        outline: 0;
        font-size: 21px;
        -webkit-background-size: 16px;
        background-image: url("/static/images/input_marker.svg");
        background-repeat: no-repeat;
        background-position: 5.2% center;
      }

      .first-step__form_input-submit{
        display: block;
        -webkit-appearance: none;
        width: 222px;
        height: 64px;
        padding: 20px 28px 19px;
        color: #fff;
        font-family: $NunitoSans;
        border: 0;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        background-color: $mainColor;
        transition: background-color .4s;
      }
      .first-step__form_input-submit:hover{
        background-color: lighten($mainColor, 10%);
      }
      .error-code{
        display: none;
      }
    }

  }
  .first-step__content{



  }

}
// end first-step

// start second-step
.second-step{
  height: 0;
  width: 100%;
  position: relative;
  .second-step__header{
    background-color: #fafafa;
    position: relative;
    z-index: 1;
    .container{
      display: flex;
      justify-content: space-between;
    }

    .first-step__header-logo{
      padding: 25px 0;
    }


    .second-step__header-checkout-list{
      position: relative;
      padding: 25px 20px 25px 20px;
      font-family: $NunitoSans;
      white-space: nowrap;
      background-color: #FCF4F4;
      cursor: pointer;
      transition: background-color .2s;

      img{
        position: relative;
        top: 3px;
        margin: 0 10px;
      }

      .second-step__checkout-list_total{
        color: #262626;
        font-family: $NunitoSans;
        font-size: 20px;
        letter-spacing: -0.25px;
        text-align: center;
        margin-right: 120px;
      }
      .second-step__checkout-list_total_mobile{
        position: absolute;
        display: none;
        left: 35%;
        top: 28%;
        padding: 3px 7px;
        font-family: $NunitoSans;
        font-size: 10px;
        color: #fff;
        border-radius: 50%;
        background-color: $mainColor;
      }

      .second-step__checkout-list_toggle{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-top: 8px;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        background-image: url('/static/images/back-arrow.svg');
        background-position: center;
        cursor: pointer;
        outline: 0;
        transform: rotate(-90deg) scale(1);
        transition: transform .4s;
      }

    }
    .second-step__header-checkout-list::before{
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 10000px;
      background-color: #FCF4F4;
    }

  }

  .second-step__content{
    background-image: url('/static/images/checkout/rose_spots_background.png');
    background-size: cover;
    // height: calc(100% - 197px);

    // second-step__main-step_1
    .second-step__main-step_1{
      padding: 50px 0;
      .second-step__tabs{
        display: flex;
        justify-content: center;
        text-align: center;
        .second-step__tabs-item{
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          padding: 11px 0px 6px;
          width: 284px;
          border: 1px solid #c7bfbf;
          border-right: none;
          background-color: #fff;
          font-family: "Nunito Sans";
          font-weight: 600;
          letter-spacing: -0.2px;
          color: #262626;
          cursor: pointer;
          transition: background-color .4s, color .4s;
          img{
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            height: 56px;
          }
          span{
            display: inline-block;
          }
        }
        .second-step__tabs-item.active{
          background-color: $mainColor;
          color: #fff;
        }
        .second-step__tabs-item:hover{
          background-color: $mainColor;
          color: #fff;
        }
        .second-step__tabs-item:first-child{
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        .second-step__tabs-item:last-child{
          border-right: 1px solid #999;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

      }

      .second-step__form{
        display: none;
        width: 86%;
        margin: auto;
        margin-top: 50px;
        .second-step__packages{
          height: 455px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 2px 25px 0 rgba(0,0,0,0.12);
          padding: 25px 20px;
          overflow-y: auto;

        }
        .second-step__checkout-step-next{
          background-color: #757575;
        }

      }
      .second-step__form.active{
        display: block;
      }
      .second-step__packages-item{
        width: 100%;
        display: flex;
        background-color: #fafafa;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        .second-step__offer{
          width: 40%;
          .second-step__name{
            font-family: $Lato;
            font-size: 20px;
            color: #333;
          }
          .second-step__descr{
            font-family: $NunitoSans;
            font-size: 16px;
            color: #999;
          }
        }
        .second-step__name{
          font-family: $Roboto;
          font-weight: bold;
          letter-spacing: 0.67px;
          font-size: 16px;
          color: #262626;
          margin-bottom: 10px;
        }
        .second-step__service-info{
          display: flex;
          width: 45%;
        }
        .second-step__cost{
          width: 33%;
          text-align: center;
          margin-top: 10px;
          .second-step__descr{
            font-family: $NunitoSans;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: -0.2px;
            line-height: 16px;
            color: #262626;
          }
        }
        .second-step__quantity{
          width: 33%;
          text-align: center;
          margin-top: 10px;

          .second-step__count{
            font-family: $Roboto;
            letter-spacing: -0.2px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            .second-step__count_input{
              width: 27px;
              height: 27px;
              padding: 0;
              text-align: center;
              color: #323C47;
              font-size: 16px;
              font-weight: 600;
              background-color: transparent;
              border: 0;
            }
            .counter__minus,
            .counter__plus{
              width: 27px;
              height: 27px;
              padding: 0;
              background-color: #fff;
              font-size: 18px;
              color: #211a52;
              border-radius: 3px;
              background-color: transparent;
              outline: 0;
              border: 1px solid #D0D7DD;
              cursor: pointer;
            }
          }
        }
        .second-step__duration{
          width: 33%;
          text-align: center;
          margin-top: 10px;
          .second-step__descr{
            font-family: $Lato;
            font-size: 16px;
            letter-spacing: -0.2px;
            line-height: 16px;
            color: #333;
          }
        }
        .second-step__add{
          width: 15%;
          text-align: center;
          margin-top: 10px;
          .second-step__add_button{
            height: 48px;
            width: 128px;
            border: 1px solid #262626;

            border-radius: 8px;
            outline: none;
            background-color: $mainColor;
            color: #fff;
            font-family: $NunitoSans;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: -0.2px;
            text-align: center;
            cursor: pointer;
            transition: background-color .4s, color .4s;
          }
          .second-step__add_button:hover{
            border: 1px solid $mainColor;
            background-color: lighten($mainColor, 15%);
            color: #fff;
          }
          .second-step__btn-disabled{
            background-color: transparent;
            color: #262626;
            cursor: default;
          }
          .second-step__btn-disabled:hover{
            background-color: transparent;
            border: 1px solid #262626;
            color: #262626;

          }
        }
      }
      //end .second-step__form
    }
    //end second-step__main-step_1

    .second-step__checkout-step-btn{
      display: flex;
      width: 100%;
      margin-top: 45px;
      justify-content: center;
      .second-step__checkout-step-back{
        padding: 11px 0;
        width: 128px;
        -webkit-appearance: none;
        margin: 0 10px;
        border: 1px solid #262626;
        border-radius: 8px;
        color: #262626;
        outline: none;
        background-color: transparent;
        font-family: "Nunito Sans";
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.2px;
        cursor: pointer;
        transition: background-color .4s, color .4s;
      }
      .second-step__checkout-step-next{
        padding: 11px 0;
        -webkit-appearance: none;
        width: 128px;
        margin: 0 10px;
        border-radius: 8px;
        background-color: $mainColor;
        color: #fff;
        outline: none;
        font-family: "Nunito Sans";
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.2px;
        cursor: pointer;
        border: 0;
        transition: background-color .4s;
      }
      .second-step__checkout-step-back:hover{
        background-color: #262626;
        color: #fff;
      }
      .second-step__checkout-step-next:hover{
        background-color: lighten($mainColor, 10%);
      }
    }

    //.second-step__main-step_2
    .second-step__main-step_2{
      position: relative;
      top: -135px;
      transform: translateY(600vh);
      padding: 15px 0 14px;
      width: 100%;
      .second-step__checkout-body{
        display: flex;
        .second-step__bg-img{
          position: relative;
          img{
            margin-top: 25%;
            transform: translateY(-25%);
          }

        }
        .second-step__form-calendar{
          text-align: center;
          .second-step__contact-form_title{
            color: #333333;
            font-family: $NunitoSans;
            font-size: 38px;
            font-weight: 300;
            letter-spacing: -0.5px;
            line-height: 51px;
            text-align: center;
            margin-bottom: 0;
          }
        }

      }
      .second-step__calendar{
        .ui-datepicker{
          background-color: transparent;
          box-shadow: none;
          width: 100%;
          .ui-datepicker-header{
            border: none;
            .ui-corner-all{
              top: 25%;
            }
            .ui-datepicker-prev{
              span{
                background-image: url('/static/images/arrow_icon_left.png');
                background-size: auto;
                background-repeat: no-repeat;
                background-position: 50% 0;
                height: 23px;
                width: 40px;
              }
              left: 15px;
            }
            .ui-datepicker-next{
              span{
                background-image: url('/static/images/arrow_icon_right.png');
                background-size: auto;
                background-repeat: no-repeat;
                background-position: 50% 0;
                height: 23px;
                width: 40px;
              }
              right: 15px;
            }
          }
          .ui-datepicker-month{
            padding: 0;
            color: #333333;
            font-family: $NunitoSans;
            font-size: 38px;
            font-weight: 300;
            letter-spacing: -0.5px;
            line-height: 51px;
            text-align: center;
            text-transform: none;
          }
          .ui-datepicker-month:before{
            content: none;
          }
          .ui-datepicker-year{
            display: none;
          }
        }
        .ui-datepicker-calendar{
          width: 100%;
          th{
            span{
              text-transform: none;
            }
          }
          td{
            span{
              opacity: 0.5
            }
          }
          a,
          span{
            height: 56px;
            width: 56px;
            padding: 13px;
            margin: auto;
            color: #333333;
            font-family: $NunitoSans;
            font-size: 20px;
            font-weight: 300;
            line-height: 27px;
            text-align: center;
          }

          .ui-state-active{
            color: #fff;
            background-color: $mainColor;
            border-radius: 50%;
            border-color: transparent;
          }
        }

      }
      .second-step__timepicker{
        display: flex;
        justify-content: center;
        position: relative;
        .second-step__change-time{
          position: absolute;
          height: 100%;
          background-color: transparent;
          border: 0;
          cursor: pointer;
        }
        .second-step__timepicker-prev{
          background-image: url('/static/images/arrow_icon_left.png');
          background-size: auto;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          padding-left: 40px;
          left: 50px;
        }
        .second-step__timepicker-next{
          background-image: url('/static/images/arrow_icon_right.png');
          background-size: auto;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          padding-left: 40px;
          right: 50px;
        }
        .second-step__timepicker_hours,
        .second-step__timepicker_join,
        .second-step__timepicker_minuts{
          	color: #4A4A4A;
            font-family: $NunitoSans;
            font-size: 72px;
            font-weight: 300;
            line-height: 98px;
        }
      }

    }
    // end .second-step__main-step_2

    //.second-step__main-step_3
    .second-step__main-step_3{
      position: relative;
      top: -135px;
      // left: 17%;
      transform: translateY(600vh);
      height: calc(100% - 190px);
      padding: 7px 0 30px;
      .second-step__contact-tabs{
        display: flex;
        justify-content: center;
        text-align: center;
        .second-step__contact-tabs-item{
          color: #D5DADE;
          font-family: $NunitoSans;
          font-size: 14px;
          font-weight: 600;
          line-height: 19px;
          text-align: center;
          padding: 30px 90px;
          border-bottom: 1px solid #E4EAEE;
          transition: color .4s, border .4s;
        }
        .second-step__contact-tabs-item.active{
          border-bottom: 1px solid #1B2125;
          color: #262626;
        }
      }
    }

    .second-step__verifi-code{
      position: absolute;
      top: 86px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      transition: visibility .4s, opacity .4s;
      visibility: hidden;
      opacity: 0;
      .second-step__verifi-code-form{
        width: 66%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .second-step__verifi-code-form_title{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 38px;
          font-weight: 300;
          letter-spacing: -0.5px;
          line-height: 51px;
        }
        .second-step__verifi-code-form_subtitle{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
        }
        .second-step__phone-text{
          .second-step__phone-text_code,
          .second-step__phone-text_numb{
              color: #333333;
              font-family: $NunitoSans;
              font-size: 20px;
              font-weight: 600;
              line-height: 24px;
              text-align: center;
          }
        }

        .second-step__verify_sms{
          position: relative;
          .second-step__ss-wrap{
            position: relative;
            display: inline-block;
            margin: 0 8px;
            height: 50px;
            width: 50px;
            padding: 4px;
            border-radius: 6px;
            background-color: transparent;
            box-shadow: none;
          }
          .second-step__ss_input{
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            height: 100%;
            width: 100%;
            padding: 0;
            font-size: 22px;
            border-radius: 6px;
            outline: 0;
            text-align: center;
            background-color: transparent;
            cursor: pointer;
            border: 1px solid #354052;
          }
          .second-step__outline{
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            box-shadow: 0 0 24px 0 rgba(178,178,178,.5);
            border: none;
            z-index: 0;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: opacity .4s,left .4s;
            transition: opacity .4s,left .4s;
          }
          .error-code{
            display: none;
          }
          .second-step__dont-code-wrap{
            display: block;
            margin-bottom: 40px;
            font-family: $NunitoSans;
            text-align: center;
            color: #0d253e;
            font-size: 18px;
            line-height: 27px;
          }
          .second-step__resend{
            color: #333333;
            font-family: $NunitoSans;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            text-align: center;
          }
          .second-step__ss-all{
            position: absolute;
            left: -9999em;
            top: 0;
            opacity: 0;
            outline: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border-radius: 0;
          }

          .second-step__ss-wrap.focus{
            .second-step__outline{
              opacity: 1;
              z-index: 1;
              visibility: visible;
              transition: opacity .4s,left 0s;
            }
            .second-step__ss_input{
              border: none;
            }
          }
          .second-step__ss-wrap.fine{
            .second-step__outline{
              opacity: 0;
              z-index: 0;
            }
            .second-step__ss_input{
              border: 2px solid $mainColor;
            }
          }
          .second-step__ss-wrap.done{
            .second-step__outline{
              left: calc(100% + 20px);
              transition: opacity .4s,left .4s;
            }
          }

        }

      }
    }
    .second-step__verifi-account{
      position: absolute;
      width: 100%;
      top: 86px;
      left: 50%;
      transform: translateX(-50%);
      transition: visibility .4s, opacity .4s;

      .second-step__verifi-account-form{
        width: 66%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .second-step__verifi-account-form_title{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 38px;
          font-weight: 300;
          letter-spacing: -0.5px;
          line-height: 51px;
          margin-bottom: 50px;
        }
        .second-step__verifi-account-form_subtitle{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
        }

        .second-step__verifi-number_input{
          color: #000;
          font-family: "Avenir Medium",sans-serif;
          font-size: 17px;
          font-weight: 300;
          letter-spacing: 0.89px;
          line-height: 23px;
          width: 100%;
          border: none;
          border-bottom: 1px solid #979797;
          background-color: transparent;
          appearance: none;
          margin: auto;
          outline: none;
          padding: 18px 64px;
          padding-right: 20px;
          @include placeholder{
            color: #000;
          }
        }

      }
    }
    .second-step__contact-details{
      position: absolute;
      top: 86px;
      width: 68.5%;
      left: 50%;
      transform: translateX(-50%);
      transition: visibility .4s, opacity .4s;
      visibility: hidden;
      opacity: 0;
      .second-step__contact-form{
        margin: auto;
        margin-top: 20px;
        .second-step__contact-form_title{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 38px;
          font-weight: 300;
          letter-spacing: -0.5px;
          line-height: 42px;
          text-align: center;
        }
        .second-step__contact-info{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .second-step__contact-box,
          .second-step__contact-box-address,
          .second-step__contact-box-email,
          .second-step__contact-box-message{
            width: 48%;
            margin-bottom: 33px;
            .second-step__contact-box_label{
              display: block;
              margin-bottom: 5px;
              color: #262626;
              font-size: 16px;
              line-height: 20px;
              font-family: $NunitoSans;
              text-transform: uppercase;
            }
            .second-step__contact-box_input,
            .select2-selection{
              display: block;
              min-height: 54px;
              width: 100%;
              padding: 10px 10px;
              color: #1B2125;
              border: 2px solid #F5F5F5;
              border-radius: 3px;
              font-family: "Avenir Medium",sans-serif;
              background-color: #FFFFFF;
              font-size: 16px;
              outline-color: $mainColor;
            }
            .second-step__contact-box_phone{
              padding-left: 60px;
            }
            .slct{
              padding: 15px 10px;
            }
            .second-step__contact-box_message{
              width: 100%;
              height: 106px;
              border: 1px solid #DDE3E8;
              outline-color: $mainColor;
              color: #1B2125;
              border-radius: 3px;
              font-family: "Avenir Medium",sans-serif;
              font-size: 16px;
              background-color: #FFFFFF;
              resize: none;
            }
            .select2-container{
              min-width: 100%;
            }
            .select2-selection__arrow{
              top: 25%;
              right: 10px;
            }


          }
          .second-step__contact-box-address,
          .second-step__contact-box-email,
          .second-step__contact-box-message{
            width: 100%;
          }
          .second-step__contact-box-message{
            margin-bottom: 0;
          }

        }


      }
    }
    .second-step__select{
      position: relative;
      border: 0;
      height: 48px;
      margin: auto;
    }
    .slct{
      position: absolute;
      padding: 17px 10px;
      font-family: "Avenir Medium",sans-serif;
      font-size: 17px;
      font-weight: 300;
      letter-spacing: 0.89px;
      line-height: 23px;
    }

    // end .second-step__main-step_3

    //.second-step__main-step_4
    .second-step__main-step_4{
      position: relative;
      top: -135px;
      width: 100%;
      transform: translateY(600vh);
      height: calc(100% - 194px);
      margin: auto;
      padding: 51px 0 30px;
      .second-step__payment-form{
        width: 66%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .second-step__payment-form_title{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 38px;
          font-weight: 300;
          letter-spacing: -0.5px;
          line-height: 51px;
        }
        .second-step__card-info{
          position: relative;
          width: 382px;
          height: 283px;
          border: 2px solid #F5F5F5;
          padding: 66px 38px 34px;
          border-radius: 8px;
          margin: auto;
          background-color: #FFFFFF;
        }
        .second-step__card-type{
          position: absolute;
          right: 38px;
          top: 26px;
        }
        label{
          position: relative;
          display: block;
          text-align: left;
          color: #262626;
          font-family: $NunitoSans;
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
        }
        .second-step__card-number-wrap{
          margin: auto;
          margin-bottom: 33px;
        }
        .second-step__card-number{
          border: 2px solid #F5F5F5;
          border-radius: 3px;
          background-color: #FFFFFF;
          min-height: 54px;
          outline-color: $mainColor;
          padding: 20px 10px;
        }
        .second-step__card-number_img{
          position: absolute;
          right: 15px;
          bottom: 25%;
          width: 37px;
          height: 22px;
          background-size: cover;
          background-image: url('/static/images/checkout/card_icon.png');
          background-repeat: no-repeat;
          background-position: center;
        }
        .second-step__cvv-expriry-wrap{
          display: flex;
          justify-content: space-between;
        }

        .second-step__card-expiry-wrap{
          width: 46%;
        }
        .second-step__card-cvv-wrap{
          width: 46%;
        }
        .second-step__card-expiry,
        .second-step__card-cvv{
          border: 2px solid #F5F5F5;
          border-radius: 3px;
          background-color: #FFFFFF;
          min-height: 54px;
          padding: 20px 10px;
        }
        .second-step__card-img-info{
          position: absolute;
          right: 15px;
          bottom: 25%;
          width: 37px;
          height: 22px;
          cursor: pointer;
          background-image: url('/static/images/checkout/info.png');
          background-repeat: no-repeat;
          background-position: center;
        }

        .second-step__payment-agreement{
          margin-top: 18px;
        }
        .error-code{
          display: block;
          margin-bottom: 10px;
        }
        .second-step__payment_lock{
          color: #262626;
          font-family: $NunitoSans;
          font-size: 16px;
          font-weight: bold;
          line-height: 24px;
          margin-bottom: 16px;
        }
        .second-step__payment_lock{
          color: #262626;
          font-family: $NunitoSans;
          font-size: 16px;
          font-weight: bold;
          line-height: 24px;
        }
        .second-step__payment_check{
          text-align: center;
          input{
            position: absolute;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
          }
          input:checked+label:before{
            background-color: $mainColor;
            border-radius: 3px;
            background-image: url('/static/images/checkout/check-sign.png');
            background-position: center;
            background-size: 50%;
            background-repeat: no-repeat;
            border-color: $mainColor;
          }
          label{
            display: inline-block;
            color: #354052;
            line-height: 24px;
            margin: 0;
            font-family: $NunitoSans;
            font-weight: bold;
            font-size: 12px;
            padding-left: 42px;
            position: relative;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            user-select: none;
            a{
              color: $mainColor;
            }
          }
          label::before{
            content: '';
            width: 20px;
            height: 20px;
            border: 1px solid #e6ebf0;
            border-radius: 3px;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
          }
          label.not_valid::before{
            border: 1px solid #e82828;
          }
        }

        .second-step__payment-details-next{
          opacity: .3;
        }
      }
    }
    // end .second-step__main-step_4




  }

}
// end second-step

.error-code{
  color: #e82828;
  font-family: $NunitoSans;
}

.complite{
  height: 0;
  .complite__content{
    background-color: #fafafa;
    // height: calc(100% - 110px);
    padding: 146px 0 187px;
    .complite__content-body{
      height: 531px;
      width: 68%;
      max-width: 1133px;
      padding: 32px 30px;
      background-color: #FFF;
      margin: auto;
      border-radius: 8px;
      background-image: url('/static/images/checkout/illustration_4.png');
      background-repeat: no-repeat;
      background-position: left bottom;
    }
    .complite__content-congratulations{
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: 78px;
      img{
        height: 75px;
        width: 57px;
        margin: auto;
      }

      .complite__content_title{
        color: #333333;
        font-family: $NunitoSans;
        font-size: 38px;
        font-weight: 300;
        letter-spacing: -0.5px;
        line-height: 51px;
        text-align: center;
        margin: 0;
      }
      .complite__content_text{
        color: #333333;
        font-family: $NunitoSans;
        font-size: 20px;
      	font-weight: 600;
        line-height: 28px;
        text-align: center;
        width: 90%;
        margin: auto;
        margin-bottom: 68px;
        p{
          margin-top: 5px;
        }
      }
      .complite__main-page_btn{
        width: 230px;
        padding: 17px 0;
        margin: auto;
        text-decoration: none;
        border-radius: 8px;
        background-color: $mainColor;
        color: #FFFFFF;
        font-family: $NunitoSans;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: -0.2px;
        line-height: 22px;
        text-align: center;
      }
    }

  }
}
.steps-wrap{
  width: 100vw;
  flex-shrink: 0;
  transition: transform .6s;
}
.steps-wrap.second-step{
  overflow: hidden;

}
.steps-wrap.complite{
  overflow: hidden;

}
.steps-wrap.done{
  flex-shrink: unset;
  flex-shrink: 0;
  transform: translateX(-100vw);
}
.steps-wrap.second-step.open{
  flex-shrink: 0;
  height: auto;
  transform: translateX(-100vw);
}
.steps-wrap.complite.open{
  flex-shrink: 0;
  height: auto;
  transform: translateX(-200vw);
}




.second-step{
  .second-step__content{
    .second-step__checkout-step{
      transition: transform .6s;
      height: 0;
    }
    .second-step__checkout-step.done{
      transform: translateY(-600vh);

    }
    .second-step__checkout-step.open{
      transform: translateY(0);
      height: 100%;
    }
    .second-step__main-step_1.open{
      transform: translateY(0);
      height: auto;
    }
    .second-step__main-step_3.open{
      transform: translateY(0);
      height: calc(100% + 400px);
    }
    .second-step__main-step_4.open{
      transform: translateY(0);
      height: auto;
    }
    .second-step__substep.done{
      visibility: hidden;
      opacity: 0;
    }
    .second-step__substep.open{
      visibility: visible;
      opacity: 1;
    }
  }

}

.select2-container--default {
  .select2-results__option{
    font-family: $NunitoSans;
  }
  .select2-results__option--highlighted[aria-selected]{
    background-color: $mainColor;

    }
}

.modal-waiting{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  left: 50%;
  font-family: $NunitoSans;
  transform: translateX(-50%);
  z-index: 15;
  width: 550px;
  border-radius: 13px;
  padding: 37px 0;
  font-size: 33.5px;
  text-align: center;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(93,14,138,.9);
  transition: opacity .4s,visibility .4s;
  img{
    height: 30px;
    width: 30px;
    margin: auto auto 10px;
  }
}






  // start footer
  .footer{
    display: flex;
    justify-content: center;
    position: relative;
    padding: 37px 0 36px;
    width: 100%;
    background-color: #262626;
    z-index: 1;
    .footer__footer-links{
      display: flex;
    }
    .footer__socials,
    .footer__footer-menu{
      display: inline-block;
      padding-top: 35px;
      ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        li{
          margin-left: 30px;
        }
      }
    }
    .footer__socials{
      a{
        transition: opacity .4s;
      }
      a:hover{
        opacity: .7;
      }

    }
    .footer__footer-menu{
      vertical-align: top;
      margin-top: 5px;
      ul{
        li{
          text-align: center;
          margin-left: 40px;
          a{
            font-family: $NunitoSans;
            text-decoration: none;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 600;
            transition: color .4s
          }
          a:hover{
            color: darken(#fff, 20%)
          }
        }
      }
    }
    .footer__inform-wrap{
      text-decoration: none;
    }
    .footer__inform{
      width: 337px;
      display: flex;
      margin-left: 50px;
      padding: 20px 0px 20px 25px;
      border-radius: 6px;
      transition: background-color .4s;
      .footer__inform-img{
        img{
          width: 95px;
          height: 60px;
          margin-top: 5px;
        }
      }
      p{
        margin-left: 25px;
        font-family: $NunitoSans;
        color: #fff;
      }
    }
    .footer__inform:hover{
      background-color: #444;
    }
  }

// end footer






// start contact-us
.contact-us{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/static/images/checkout/rose_spots_background.png');
  background-size: cover;
  min-height: 100%;
  .contact-us__header{

    .container{
      padding: 25px 30px;

    }
    .contact-us__header-wrap{
      display: flex;
      justify-content: space-between;
    }
    .contact-us__join_button{
      border: none;
      padding: 11px 50px;
      -webkit-appearance: none;
      margin: 0 10px;
      border: 1px solid #262626;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      color: #fff;
      outline: 0;
      background-color: $mainColor;
      font-family: "Nunito Sans";
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -.2px;
      cursor: pointer;
      -webkit-transition: background-color .4s,color .4s;
      -o-transition: background-color .4s,color .4s;
      transition: background-color .4s,color .4s;
    }
    .contact-us__join_button:hover{
      background-color: lighten($mainColor, 10%);
      color: #fff;
    }
  }
  .contact-us__content{
    .container{
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }
    .contact-us__text{
      max-width: 600px;
      .contact-us__text_title{
        color: #333333;
        font-family: $NunitoSans;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 55px;
      }
      p{
          color: #333333;
          font-family: $NunitoSans;
          font-size: 38px;
          font-weight: 300;
          letter-spacing: -0.5px;
          line-height: 51px;
          a{
            color: $mainColor;
            text-decoration: none;
            font-weight: bold;
          }
      }
    }

  }

  .contact-us__footer{
    background-image: url('/static/images/footer_bg_shape_mobile.png');
    background-position: top center;
    min-height: 160px;
    padding: 50px 0 0;
    .container{
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      position: initial;
    }
    .text-center{
      text-align: center;
    }
    .logo{
      margin-right: 20px;
      img{
        vertical-align: middle;
      }
    }
    .social-icons{
      display: inline-block;
      vertical-align: bottom;
      a{
        display: inline-block;
        margin: 0 4px;
        position: relative;
        top: 5px;
      }
    }
    .footer-menu{
      margin: 20px 0;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          display: inline-block;
          vertical-align: top;
        }
      }
      a{
        display: block;
        padding: 0 10px;
        color: #FFFFFF;
        font-family: $NunitoSans;
        text-decoration: none;
        font-size: 12px;
        line-height: 28px;
        font-weight: 600;
      }
    }
    .copyright{
      margin: 10px 0;
      color: #7C7C7C;
      font-size: 12px;
      font-family: $NunitoSans;
      line-height: 28px;
      font-weight: 600;
    }
  }

}
// end contact-us


@media screen and (max-width:1200px) {

}

@media screen and (max-width:992px) {
  .contact-us{
  .contact-us__content{
    margin-top: 0px;
    .container{
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      .contact-us__text{
        margin: auto;
        .contact-us__text_title{
          font-size: 32px;
        }
        p{
          font-size: 23px;
          line-height: 31px;
        }
      }

      img{
        max-width: 50%;
        margin: auto;
      }
    }
  }
}
}

@media screen and (max-width:1440px) {

}

@media screen and (max-width:1024px) {
  .notification{
    .notification__text{
      font-size: 18px;
    }
  }

  .second-step{
    .second-step__content{
      .second-step__main-step_2{
        .second-step__checkout-body{
          .second-step__bg-img{
            display: none;
          }
          .second-step__form-calendar{
            margin: auto;
          }
        }
      }
      .second-step__main-step_3{
        left: 9%;
      }
      .second-step__main-step_4{
        .second-step__payment-form{
          .second-step__payment_check{
            label:before{
              border: 1px solid #949596;
            }
          }
        }
      }
    }
  }

  .complite{
    .complite__content{
      .complite__content-body{
        background-image: none;
      }
      .complite__content-congratulations{
        width: 100%;
      }
    }
  }

  .footer{
    justify-content: space-between;
    .footer__footer-links{
      flex-direction: column;
    }
    .footer__footer-menu{
      ul{
        flex-direction: column;
        li{
          text-align: left;
          margin-bottom: 10px;
        }
      }

    }
    .footer__socials{
      ul{
        li{
          margin-left: 40px;
        }
      }

    }
  }
}

@media screen and (max-width:768px) {
  .second-step{
    .second-step__content{
      .second-step__main-step_1{
        .second-step__tabs{
          flex-wrap: wrap;
          .second-step__tabs-item {
            width: 46%;
            border-radius: 8px;
            border: 1px solid #c7bfbf;
            margin: 0 6px 10px 6px;
          }
        }

        .second-step__packages-item{
          flex-direction: column;
          .second-step__offer{
            width: 100%;
            margin-bottom: 20px;
            margin-left: 13%;
          }
          .second-step__service-info{
            width: 100%;
            margin-bottom: 20px;
          }
          .second-step__add{
            width: 100%;
            margin-bottom: 20px;
          }
        }

      }
      .second-step__main-step_3{
        left: 0;
        .second-step__contact-details{
          width: 100%;
        }
      }
    }
  }

  .complite{
    .complite__content{
      padding: 30px 0 187px;
      .complite__content-congratulations{
        .complite__content_title{
          font-size: 32px;
        }
        .complite__content_text{
          margin-bottom: 50px;
        }
      }
    }
  }

}

@media screen and (max-width:480px) {
  .notification{
    padding: 15px 0;
    .notification__text{
      font-size: 16px;
    }
  }
  .contact-us{
    .contact-us__header{
      .contact-us__join_button{
        padding: 3px 11px;

      }
    }
  }
  .first-step{
    .first-step__header{
      .first-step__content-wrapper{
        width: 100%;
        padding-top: 50px;
      }
      .first-step__form{
        flex-direction: column;
        .first-step__input-wrap{
          width: 100%;
          margin-bottom: 20px;
        }
        .first-step__form_input-submit{
          width: 100%;
        }
      }

      .first-step__subtitle{
        font-size: 30px;
      }
      .first-step__title{
        font-size: 32px;
        line-height: normal;
      }
      .first-step__join_button{
        padding: 3px 11px;
      }
    }


  }

  .second-step{
    .second-step__checkout-step.done{
      transform: translateY(-600vh);
      .second-step__form{
        height: 0;
        overflow-y: hidden;
      }
      // position: relative;
      // padding: 0;
      // overflow-y: hidden;
      // height: 0 !important;
    }
    .second-step__content{
      .second-step__main-step_1{
        .second-step__tabs-item{
          flex-direction: column;
          span{
            margin-top: 10px;
          }
        }
        .second-step__packages-item{
          padding: 0;
          padding-top: 10px;
          .second-step__offer{
            margin-left: 0;
            text-align: center;
          }
        }
      }
      .second-step__main-step_2{
        .second-step__checkout-body{
          .second-step__form-calendar{
            margin: 0;
            .ui-datepicker-calendar{
              span,
              a{
                height: 45px;
                width: 45px;
                padding: 8px;
              }
            }
          }
        }
        .second-step__timepicker{
          .second-step__timepicker-next{
            right: 0px;
          }
          .second-step__timepicker-prev{
            left: 0px;
          }
        }
      }
      .second-step__main-step_3{
        .second-step__contact-tabs{
          .second-step__contact-tabs-item{
            padding: 30px 30px;
          }
        }
        .second-step__verifi-code-form{
          .second-step__verify_sms{
            .second-step__ss-wrap{
              margin: 5px 4px;
            }
          }
        }
      }
      .second-step__main-step_4{
        width: 89%;
        .second-step__payment-form{
          width: 100%;
          .second-step__card-info{
            width: 100%;
            padding: 66px 25px 34px;
          }
        }
        .modal-waiting{
          position: fixed;
          top: 40%;
          width: 100%;
        }
      }

    }
  }

  .ui-datepicker{
    padding: 0;
  }
  .ui-datepicker-calendar{
    td{
      padding: 0;
    }
  }




  .complite{
    .complite__content{
      .complite__content-body{
        width: 90%;
        .complite__content-congratulations{
          margin-top: 10px;
        }
        .complite__content_title{
          font-size: 26px;
          line-height: normal;
          margin-bottom: 20px;
        }
      }
    }
  }



  .footer{
    .footer__inform{
      width: auto;
      flex-direction: column;
      padding: 20px 15px;
      .footer__inform-img{
        text-align: center;
      }
      p{
        font-size: 12px;
        margin-left: 0;
        text-align: center;
        margin-top: 16px;
      }
    }
    .footer__footer-menu{
      ul{
        li{
          a{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:375px) {
  .second-step{
    .second-step__header{
      .second-step__header-checkout-list{
        .second-step__checkout-list_total{
          display: none;
        }
        .second-step__checkout-list_total_mobile{
          display: block;
        }
        .second-step__checkout-list_toggle{
          margin-left: 25px;
        }
      }
    }


    .second-step__content{
      .second-step__main-step_1{
        .second-step__tabs-item{
          span{
            font-size: 14px;
          }
        }
        .second-step__form{
          width: 95%;
        }
        .second-step__packages-item{
          padding: 0;
          padding-top: 10px;
          .second-step__service-info{
            flex-direction: column;
          }
          .second-step__cost{
            margin: auto;
            margin-bottom: 20px;
          }
          .second-step__quantity{
            margin: auto;
            margin-bottom: 20px;
          }
          .second-step__duration{
            margin: auto;
            margin-bottom: 20px;
          }

        }
      }
      .second-step__main-step_2{
        .second-step__checkout-body{
          .second-step__form-calendar{
            margin: 0;
            .ui-datepicker-calendar{
              span,
              a{
                height: 40px;
                width: 40px;
                padding: 6px;
              }
            }
          }
        }
      }
      .second-step__main-step_3{

        .second-step__verifi-account-form{
          width: 90%;
        }
        .second-step__verifi-code-form{
          width: 90%;
          .second-step__verify_sms{
            .second-step__ss-wrap{
              margin: 5px 4px;
            }
          }
        }
        .second-step__contact-tabs{
          .second-step__contact-tabs-item{
            padding: 30px 21px;
          }
        }
      }
      .second-step__main-step_4{
        width: 95%;
        .second-step__payment-form{
          .second-step__card-info{
            padding: 66px 13px 34px;
          }
          .second-step__card-expiry-wrap,
          .second-step__card-cvv-wrap{
            width: 45%;
          }
        }
        .modal-waiting{
          font-size: 28px;
        }
      }

    }
  }

  .complite{
    .complite__content{
      .complite__content-body{
        padding: 32px 15px;

        .complite__content_title{
          font-size: 22px;
          line-height: normal;
          margin-bottom: 20px;
        }
        .complite__content_text{
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
    }
  }

}

@media screen and (max-width:320px) {
  .second-step{
    .second-step__header{
      .second-step__header-checkout-list{
        .second-step__checkout-list_total{
          margin-right: 20px;
        }
      }
    }
    .second-step__content{
      .second-step__main-step_1{
        .second-step__tabs-item{
          span{
            font-size: 12px;
          }
        }
      }
      .second-step__main-step_2{
        .second-step__checkout-body{
          .second-step__form-calendar{
            margin: 0;
            width: 100%;
            .second-step__contact-form_title{
              font-size: 32px;
            }
            .ui-datepicker-calendar{
              span,
              a{
                height: 35px;
                width: 35px;
                padding: 2px;
              }
            }
          }
        }
      }
      .second-step__main-step_3{
        .second-step__verifi-account-form{

          .second-step__verifi-account-form_title{
            font-size: 32px;
          }
          .second-step__verifi-account-form_subtitle{
            font-size: 18px;
          }
        }
        .second-step__verifi-code-form{

          .second-step__verifi-code-form_title{
            font-size: 32px;
          }
          .second-step__verifi-code-form_subtitle{
            font-size: 18px;
          }
        }
      }
      .second-step__main-step_4{
        width: 85%;
        .modal-waiting{
          font-size: 26px;
        }
      }

    }
  }

  .complite{
    .complite__content{
      .complite__content-body{

        .complite__content_text{
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}



@media screen and (min-width:768px) {
  .contact-us{
    .contact-us__footer{
      background-image: url('/static/images/footer_desktop_bg_shape.png');
      background-repeat: repeat-x;
      padding: 100px 0 25px;
      position: relative;
      .logo{
        position: absolute;
        left: 50%;
        top: 117px;
        margin-left: -360px;
      }
      .social-icons{
        position: absolute;
        right: 50%;
        top: 125px;
        margin-right: -360px;
        a{
          top: 0;
        }
      }
      .footer-menu{
        a{
          padding: 0 20px;
          font-size: 20px;
        }
      }
      .copyright{
        margin: 75px 0 0;
        font-size: 20px;
      }
    }
  }

}
@media screen and (min-width:992px) {
  .contact-us{
    .contact-us__footer{
      .logo{
        margin-left: -470px;
      }
      .social-icons{
        margin-right: -470px;
      }
    }
  }

}
@media screen and (min-width:1460px) {
  .contact-us{
    .contact-us__footer{
      .logo{
        margin-left: -515px;
      }
      .social-icons{
        margin-right: -515px;
      }
    }
  }


}
